<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fct.nowcoder.dao.UserMapper">
    <resultMap id="userType" type="user">
        <result column="activation_code" property="activationCode"/>
        <result column="header_url" property="headerUrl"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(username,password,salt,email,type,status,activation_code,header_url,create_time)
        VALUES (#{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime});
    </insert>
    <update id="updateById">
        UPDATE  user
        <set>
            <if test="username != null and username !=''">
                username = #{username},
            </if>
            <if test="password != null and password !=''">
                password = #{password},
            </if>
            <if test="salt != null and salt !=''">
                salt = #{salt},
            </if>
            <if test="email != null and email !=''">
                email = #{email},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="activationCode != null and activationCode !=''">
                activation_code = #{activationCode},
            </if>
            <if test="headerUrl != null and headerUrl != ''">
                header_url = #{headerUrl},
            </if>
            <if test="createTime != null">
                create_time = #{createTime}
            </if>
        </set>
        WHERE id = #{id};
    </update>

    <select id="selectById" resultMap="userType">
        SELECT *
        FROM user
        WHERE id = #{id};
    </select>

    <select id="selectByUsernameUser" resultMap="userType">
        SELECT *
        FROM user
        WHERE username = #{username};
    </select>


    <select id="selectByEmailUser" resultMap="userType">
        SELECT *
        FROM user
        WHERE email = #{email};
    </select>
</mapper>